<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zipdabang_android"
        tools:targetApi="31">
        <activity
            android:name=".src.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".src.main.zipdabang_recipe_activities_fragments.ZipdabangRecipeCoffeeActivity" />
        <activity android:name=".src.main.zipdabang_recipe_activities_fragments.ZipdabangRecipeBeverageActivity" />
        <activity android:name=".src.main.zipdabang_recipe_activities_fragments.ZipdabangRecipeTeaActivity" />
        <activity android:name=".src.main.zipdabang_recipe_activities_fragments.ZipdabangRecipeAdeActivity" />
        <activity android:name=".src.main.zipdabang_recipe_activities_fragments.ZipdabangRecipeSmoothieActivity" />
        <activity android:name=".src.main.zipdabang_recipe_activities_fragments.ZipdabangRecipeWellbeingActivity" />
        <activity android:name=".src.main.zipdabang_recipe_detail.ZipdabangRecipeDetailActivity" />
        <activity android:name=".src.main.zipdabang_recipe_detail.ZipdabangRecipeDetailCoffeeActivity" />
        <activity android:name=".src.main.zipdabang_recipe_detail.ZipdabangRecipeDetailAdeActivity" />
        <activity android:name=".src.main.zipdabang_recipe_detail.ZipdabangRecipeDetailTeaActivity" />
        <activity android:name=".src.main.zipdabang_recipe_detail.ZipdabangRecipeDetailBeverageActivity" />
        <activity android:name=".src.main.zipdabang_recipe_detail.ZipdabangRecipeDetailSmoothieActivity" />
        <activity android:name=".src.main.zipdabang_recipe_detail.ZipdabangRecipeDetailWellbeingActivity" />
        <activity android:name=".src.main.zipdabang_recipe_comment.ZipdabangRecipeDetailCommentActivity"/>
        <activity android:name=".src.main.zipdabang_recipe_comment.ZipdabangRecipeDetailCommentAdeActivity"/>
        <activity android:name=".src.main.zipdabang_recipe_comment.ZipdabangRecipeDetailCommentBeverageActivity"/>
        <activity android:name=".src.main.zipdabang_recipe_comment.ZipdabangRecipeDetailCommentCoffeeActivity"/>
        <activity android:name=".src.main.zipdabang_recipe_comment.ZipdabangRecipeDetailCommentSmoothieActivity"/>
        <activity android:name=".src.main.zipdabang_recipe_comment.ZipdabangRecipeDetailCommentTeaActivity"/>
        <activity android:name=".src.main.zipdabang_recipe_comment.ZipdabangRecipeDetailCommentWellbeingActivity"/>
    </application>

</manifest>