<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
<uses-permission android:name="android.permission.INTERNET"/>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="com.example.umc_zipdabang.src.main.KakaoApplication"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zipdabang_android"
        tools:targetApi="31">
        <activity android:name=".src.main.InitialActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".src.main.MainActivity"
            android:exported="true">
        <meta-data
            android:name="android.app.lib_name"
            android:value="" />
    </activity>

        <activity
            android:name="com.example.umc_zipdabang.config.src.main.Home.HomeMainActivity"
            android:exported="true">

        </activity>
        <activity android:name=".src.signup.SignupFirstActivity"
            android:exported="true">
        </activity>
        <activity android:name=".src.signup.SignupSecondActivity"
            android:exported="true">
        </activity>
        <activity android:name=".src.signup.SignupCameraagreeActivity"
            android:exported="true">
        </activity>
        <activity android:name=".src.signup.SignupResearchActivity"
            android:exported="true">
        </activity>
        <activity android:name=".src.signup.SignupServiceagreeActivity"
            android:exported="true">
        </activity>
        <activity android:name=".src.signup.SignupServiceagreeMust1Activity"
            android:exported="true">
        </activity>
        <activity android:name=".src.signup.SignupServiceagreeMust2Activity"
            android:exported="true">
        </activity>
        <activity android:name=".src.signup.SignupServiceagreeChoice1Activity"
            android:exported="true">
        </activity>
        <activity android:name=".src.signup.SignupServiceagreeChoice2Activity"
            android:exported="true">
        </activity>
        <activity android:name="com.example.umc_zipdabang.src.main.JoinInitialActivity"
            android:exported="false">
        </activity>

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data android:host="oauth"
                    android:scheme="kakao8300d879d66a5f65861ac2de40a4234c" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.umc_zipdabang.config.src.main.Home.Scrap.MyScapActivity">
        </activity>
        <activity android:name="com.example.umc_zipdabang.config.src.main.Home.edit.EditScrapActivity">
        </activity>
        <activity android:name="com.example.umc_zipdabang.config.src.main.Home.search.SearchActivity">
        </activity>
        <activity android:name="com.example.umc_zipdabang.config.src.main.Home.category.CategoryAdeActivity">
        </activity>
        <activity android:name="com.example.umc_zipdabang.config.src.main.Home.category.CategoryBeverageActivity">
        </activity>
        <activity android:name="com.example.umc_zipdabang.config.src.main.Home.category.CategoryCoffeeActivity">
        </activity>
        <activity android:name="com.example.umc_zipdabang.config.src.main.Home.category.CategorySmoothieActivity">
        </activity>
        <activity android:name="com.example.umc_zipdabang.config.src.main.Home.category.CategoryHealthActivity">
        </activity>
        <activity android:name="com.example.umc_zipdabang.config.src.main.Home.category.CategoryTeaActivity">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>
</manifest>